  body {
   padding-left: 11em;
   font-family: Georgia, "Times New Roman",
          Times, serif;
		  color: black;
    background-color: #edeff2 }
	 ul.navbar {
    list-style-type: square;
    padding: 0;
    margin: 0;
	position: absolute;
    top: 2em;
    left: 1em;
    width: 10em }
	h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
		ul.navbar li {
    background: #edeff2;
    margin: 0.5em 0;
    padding: 0.3em; }
  ul.navbar a {
    text-decoration: none }
  a:link {
    color: blue }
  a:visited {
    color: purple }
	address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted }
